@inherits LayoutComponentBase

<div class="page-wrapper">
    <div class="content">
        <NavMenu />
        @Body
    </div>
    <Footer />
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    .page-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    .content {
        flex: 1 0 auto;
    }
</style>


